body{background-color:grey;
color: powder blue;
text-align:left;
}
.menu-bar{
text-align: left;}
ul{
font-family:sans-serif;
padding-bottom:0px;
padding-left:0px;
margin-left:0px;
}
h1{
text-decoration:blink;
}